<div class="lcars-grid">

<% @suppliers.each do |supplier| %>

  <div class="lcars-card">

    <span class="lcars-badge">
      <%= supplier.beans.count %> SKU
    </span>

    <p>
      SUP-0<%= supplier.id %> //
      <%= supplier.city %>, <%= supplier.state %>
    </p>

    <h2><%= supplier.name %></h2>

    <br>

    <div class="lcars-stat">
      stk <%= supplier.beans.sum(:quantity) %>
    </div>

    <p>
      cr <%= supplier.beans.sum("price * quantity") %> value
    </p>

    <%= link_to "VIEW", supplier %> |
    <%= link_to "EDIT", edit_supplier_path(supplier) %>

  </div>

<% end %>

</div>

<br>

<%= link_to "NEW SUPPLIER", new_supplier_path, class: "lcars-btn purple" %>
