<!DOCTYPE html>
<html>
  <head>
    <title>LCARS Coffee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="lcars-shell">

      <div class="lcars-sidebar">
        <%= link_to "INVENTORY", beans_path, class: "lcars-btn" %>
        <%= link_to "ANALYSIS", analysis_path, class: "lcars-btn" %>
        <%= link_to "SUPPLIERS", suppliers_path, class: "lcars-btn purple" %>
        <%= link_to "SYSTEM", root_path, class: "lcars-btn blue" %>
      </div>

      <div class="lcars-content">

        <div class="lcars-topbar">
          <div class="lcars-title">CAFE INVENTORY</div>
        <%= link_to "ANALYSIS", analysis_path, class: "lcars-btn" %>
          <div class="lcars-subtitle">
            TRADE NETWORK // LCARS 2380
          </div>
        </div>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
