<div class="lcars-grid">

<% @beans.each do |bean| %>

  <div class="lcars-card">

    <span class="lcars-badge">
      <%= bean.bean_type %>
    </span>

    <p>BN-00<%= bean.id %> // SUP-0<%= bean.supplier.id %></p>

    <h2><%= bean.product_name %></h2>

    <p><%= bean.description %></p>

    <br>

    <div class="lcars-stat">
      cr <%= bean.price %>
    </div>

    <p>
      // <%= bean.supplier.name %>
    </p>

    <p>
      STOCK: <%= bean.quantity %>
    </p>

    <%= link_to "VIEW", bean %> |
    <%= link_to "EDIT", edit_bean_path(bean) %>

  </div>

<% end %>

</div>

<br>

<%= link_to "NEW BEAN", new_bean_path, class: "lcars-btn" %>
